.home-page {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.full-carousel {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.carousel-image {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
}
.nav-btn.prev { left: 20px; }
.nav-btn.next { right: 20px; }

.dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    cursor: pointer;
}
.dot.active {
    opacity: 1;
    background: red;
}

.home-content {
    margin: 40px 0;
}

.features, .how-it-works, .testimonials, .follow-us {
    background-color: darkgray;
    border-radius: 10px;
    padding: 50px 20px;
    /*background: #f8f8f8;*/
    margin-top: 20px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.steps div {
    margin: 10px;
    font-size: 18px;

}

.testimonial-box {
    margin: 20px auto;
    max-width: 600px;
    background: #cccccc;
    padding: 20px;
    border-radius: 10px;
}

.follow-us .social-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.app-buttons .app-btn {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #ff3d3d;
    color: white;
    border: none;
}

.footer {
    background: #222;
    color: white;
    padding: 20px 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
}
