<!--<div id="root"></div>-->
<%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

<div id="root"></div>
<%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
